
<!--content start here-->
<div class="banner-slide">
  <div class="slidersection about-page">
    <div class="common-titles">
      <h2 class="header-page-subtitle wow fadeInUp"> We are more than an consultancy </h2>
      <h1 class="header-page-title wow fadeInUp">2017-2018</h1>
    </div>
  </div>
</div>
<div class="bigleap">
  <section class="service-sect">
    <div class="container">
      <h3 class="main-title wow fadeInUp"> Events of 2017-2018</h3>
      <p class="main-descr wow fadeInUp">Our specialized RPO services are designed to effectively handle the entire recruitment process of our clients focusing on speed of delivery, quality of talent &amp; accountability. We are well equipped with talented consultants having varied industry knowledge &amp; expertise to execute complete recruitment assignments of the clients.</p>
      <div class="events-one">
        <div class="cont">
          <div class="demo-gallery wow fadeInUp">
            <ul id="lightgallery">
              <li data-responsive="images/2018-ibm/IMG_6523.JPG" data-src="images/2018-ibm/IMG_6523.JPG"
      
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive Registration Section</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6523.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6527.JPG" data-src="images/2018-ibm/IMG_6527.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6527.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6529.JPG" data-src="images/2018-ibm/IMG_6529.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6529.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6530.JPG" data-src="images/2018-ibm/IMG_6530.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6530.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6531.JPG" data-src="images/2018-ibm/IMG_6531.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6531.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6534.JPG" data-src="images/2018-ibm/IMG_6534.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6534.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
              <li data-responsive="images/2018-ibm/IMG_6536.JPG" data-src="images/2018-ibm/IMG_6536.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6536.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6543.JPG" data-src="images/2018-ibm/IMG_6543.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6543.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6545.JPG" data-src="images/2018-ibm/IMG_6545.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6545.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6576.JPG" data-src="images/2018-ibm/IMG_6576.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6576.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6584.JPG" data-src="images/2018-ibm/IMG_6584.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6584.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6589.JPG" data-src="images/2018-ibm/IMG_6589.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6589.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6599.JPG" data-src="images/2018-ibm/IMG_6599.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6599.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
                <li data-responsive="images/2018-ibm/IMG_6600.JPG" data-src="images/2018-ibm/IMG_6600.JPG"
      data-sub-html="<h4>2018 IBM Drive</h4><p>2018 IBM Drive</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter "> <a href=""> <img class="img-responsive" src="images/2018-ibm/IMG_6600.JPG">
                <div class="demo-gallery-poster"> <img src="images/serchicon-event.png"> </div>
                </a> </li>
                
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--content end here--> 
