@charset "utf-8";
/* CSS Document */

.controls {
    background: #f6f6f6;
    width: 100%;
    padding: 10px;
    border: 1px solid #b9b0b0;
    border-radius: 3px;
}
.controls .checkbox {
	display: inline-block;
	min-width: 26px;
	min-height: 26px;
	position: relative;
	background: #c2c2c1;
	margin-left: 34px;
    margin-right: 10px;
    top: -3px;
}
.controls .checkbox	label {
	    min-width: 24px;
	    min-height: 24px;
	    cursor: pointer;
	    position: absolute;
	    left: 1px;
	    top: 1px;
	    background: #fafafa;
}
.controls .checkbox	label:after {
	    	content: '';
	    	width: 15px;
	    	height: 10px;
	    	position: absolute;
	    	top: 4px;
	    	left: 4px;
	    	border: 3px solid red;
	    	border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
	    }
.controls .checkbox	label:hover:after {
			opacity: 0.3;
	    }
.controls input[type=radio] {
    visibility: hidden;
}
.controls input[type=radio]:checked + label:after {
			opacity: 1;
}








.dateholder {
    position: relative;
    width: 420px;
    margin: 0 auto;
}
.datepicker {
    width: 100%;
    border: 3px solid #ccc;
    font-size: 1.5em;
    padding: .5em 1em;
}

/*input*/.pickadate__input--active {
    border-color: #0089ec !important;
}



/**
 * The picker holder
 */
.pickadate__holder {

    /* The base font-size */
    font-size: 16px;

    line-height: 1.2;
    color: #000;

    position: absolute;
    z-index: 10000;

    width: 100%;
    height: 0;
}


/**
 * The frame that bounds the calendar
 */
.pickadate__frame {
    position: relative;
    max-width: 420px;
    min-width: 256px;
    max-height: 0;
    overflow-y: hidden;

    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
            transition: all .15s ease-out;
}


/**
 * When the calendar opens
 */
.pickadate__holder--opened .pickadate__frame,
.pseudo-focused + .pickadate__holder .pickadate__frame {
    top: .5em;
    max-height: 25em;

    -webkit-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
       -moz-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
            box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
}

.pickadate__calendar {
    color: #000;
    background: #fff;

    padding: 1em;
    font-size: 1em;

    /* Add the borders */
    border: 1px solid #ccc;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}


.pickadate__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
}

/* Remove browser stylings on a table cell */
.pickadate__table td {
    margin: 0;
    padding: 0;
}


.pickadate__header {
    text-align: center;
    position: relative;
}

.pickadate__nav--prev,
.pickadate__nav--next {
    position: absolute;
    top: -.1em;
    padding: .5em;
    margin: -.5em;
    text-align: center;
    min-width: 24px;
    height: 24px;
    line-height: 26px;
}
.pickadate__nav--prev {
    left: 0;
}
.pickadate__nav--next {
    right: 0;
}


.pickadate__month,
.pickadate__year {
    font-weight: 500;
    display: inline-block;
}
.pickadate__year {
    color: #999;
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
}



.pickadate__select--month,
.pickadate__select--year {
    font-size: .8em;
    border: 1px solid #ccc;
    height: 2.5em;
    margin-top: -.5em;
}
.pickadate__select--month {
    width: 35%;
}
.pickadate__select--year {
    width: 22.5%;
    margin-left: .5em;
}
.pickadate__select--month:focus,
.pickadate__select--year:focus {
    border-color: #0089ec;
}


.pickadate__weekday {
    width: 14.285714286%; /* 100/7 */
    font-size: .75em;
    padding-bottom: .5em;
    color: #999;
    font-weight: 500;
}


.pickadate__day {
    padding: .33em 0 .25em;
    font-weight: 100;
    border: 1px solid #fff;
    margin-bottom: 1px;
}

.pickadate__day--today {
    color: #0089ec;
    position: relative;
}
.pickadate__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent;
}
.pickadate__day--selected,
.pickadate__day--selected:hover {
    border-color: #0089ec;
}
.pickadate__day--highlighted {
    background: #fff;
}
.pickadate__day--disabled:before {
    border-top-color: #aaa;
}
.pickadate__day--outfocus {
    color: #ddd;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: .75;
         opacity: .75;
}

.pickadate__footer {
    text-align: center;
    margin: .5em 0 -.5em;
}

.pickadate__button--today,
.pickadate__button--clear {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: .66em 0;
    margin: 0 2.5%;
    font-weight: bold;
    width: 40%;
}
.pickadate__button--today:before,
.pickadate__button--clear:before {
    position: relative;
    display: inline-block;
    height: 0;
}
.pickadate__button--today:before {
    content: " ";
    margin-right: .45em;
    top: -.05em;
    width: 0;
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent;
}
.pickadate__button--clear:before {
    content: "\D7";
    margin-right: .35em;
    top: -.1em;
    color: #e20;
    vertical-align: top;
    font-size: 1.1em;
}
.pickadate__button--today:focus,
.pickadate__button--clear:focus {
    background: #b1dcfb;
    border-color: #0089ec;
    outline: none;
}

.pickadate__day--infocus:hover,
.pickadate__day--outfocus:hover,
.pickadate__nav--prev:hover,
.pickadate__nav--next:hover,
.pickadate__button--today:hover,
.pickadate__button--clear:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
}
.pickadate__day--disabled,
.pickadate__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default;
}
.pickadate__day--highlighted:hover,
.pickadate__holder--focused .pickadate__day--highlighted {
    background: #0089ec;
    color: #fff;
}
.datepickerinpt {
padding: 7px 10px !important;
    font-size: 16px !important;

}

pre {
  max-width: 900px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#tempalte_ifr {
height: 100px !important;
    display: block;
    min-height: 100 !important;
}
#tempalte_ifr .mce-content-body {
    padding: 0 20px 25px !important;
    line-height: 0px !important;
}
#tempalte_ifr p {
    margin: 5px 0 !important;
}
.mce-statusbar .mce-container-body {
    display: none !important;
}
.upload-main-wrapper {
  width: 220px;
}
.main-wrapper h4 {
      margin: 40px 0 0 0;
  font-size: 14px;
}
#file-upload-name {
  margin: 4px 0 0 0;
  font-size: 12px;
}

.upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px auto 0;
  position: relative;
  cursor: pointer;
  background-color: #e14325;
  padding: 8px 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s linear all;
  color: #ffffff;
}

.upload-wrapper input[type="file"] {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}

.upload-wrapper > svg {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.upload-wrapper.success > svg {
  transform: translateX(-200px);
}

.upload-wrapper.uploaded {
  transition: 0.2s linear all;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  text-align: center;
}

.upload-wrapper .file-upload-text {
  position: absolute;
  left: 80px;
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear all;
}

.upload-wrapper.uploaded .file-upload-text {
  text-indent: -999px;
  margin: 0;
}

.file-success-text {
  opacity: 0;
  transition: 0.2s linear all;
  visibility: hidden;
  transform: translateX(200px);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-success-text svg {
  width: 25px;
  height: auto;
}

.file-success-text span {
  margin-left: 15px;
}

.upload-wrapper.success .file-success-text {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.upload-wrapper.success.uploaded .file-success-text {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.upload-wrapper.success.uploaded .file-success-text span {
  display: none;
}

.upload-wrapper .file-success-text circle {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 1s linear all;
  transition-delay: 1.4s;
}

.upload-wrapper.success .file-success-text circle {
  stroke-dashoffset: 0;
}

.upload-wrapper .file-success-text polyline {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 1s linear all;
  transition-delay: 2s;
}

.upload-wrapper.success .file-success-text polyline {
  stroke-dashoffset: 0;
}

.upload-wrapper.success .file-upload-text {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}
.registration .hidden-div {
    background: #f6f6f6;
    padding-top: 20px;
    margin-top: 15px;
    border: 1px solid #b9b0b0;
    border-radius: 4px;
}
.registration .e-r-f input {
    font-size: 12px;
}
.registration .e-r-f input {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
}
.registration .table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.registration .table-bordered {
    border: 1px solid #ddd;
}

.registration .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.registration table thead {
    background: #f5f5f5;
}

.registration thead {
    background: #444;
    color: #222;
}
.registration .table>thead>tr>th {
    font-size: 13px;
    font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.registration .table > tbody > tr {
    border: 1px solid #ddd;
}
.registration .table > tbody > tr textarea.description {
        height: 34px;
            font-size: 12px;
    color: #000;
}
.registration table tr th, .registration table tr td {
    font-size: 14px;
    line-height: 25px !important;
    border-right: 1px solid #ddd;
    text-align: center;
    text-transform: uppercase;
}
.registration .add-del-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
margin-top: 60px;
}
.registration textarea.form-control {
    height: 34px;
}
.registration .add-btn {
    border-radius: 2px;
    height: 25px;
    width: 30px;
    background: #4b81e3;
    color: #fff;
    float: left;
    margin-right: 5px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}
.registration .del-btn {
    border-radius: 2px;
    height: 25px;
    width: 30px;
    background: #ff1c1c;
    color: #fff;
    text-align: center;
    float: left;
    padding-top: 1px;
    cursor: pointer;
}





.login-base{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-base > section {
  flex: 0 1 auto;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
background-color: rgb(225, 67, 37);
    margin: 3rem 0 1rem 0;

}

.login-base > section header{
  text-align: center; 
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}
.login-base > section header h1{
  font-weight: normal;
      padding: 20px 0;
    color: #fff;
    font-size: 20px;
}



.login-base section main, .login-base section footer{
margin: auto;
width: 80%;
}


.login-base section main form{
display: flex;
flex-direction: column;
}

.login-base section main form label{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}
.login-base section main form label > input{
  border:none;
  flex: 1 1 auto;
padding: 16px 55px 16px 16px;
  border-radius: 3px;
}


.login-base section main form label i{
  position: absolute;
  margin:0px 0px auto;
  color: rgba(255,255,255,1);
background-color: rgb(241, 235, 33);
    padding: 17px 17px 18px 17px;
  border-radius: 0 3px 3px 0px;
}
.login-base section main form input[type="submit"]{
  border: none; 
  padding: 15px;
  border-radius: 3px; 
  cursor: pointer; 
  margin-top:1em;
  background-color: #000;
  color: #fff;
}


.login-base section footer {
border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 20px 0px;
    text-align: center;
}
.login-base section footer h2 {
    padding: 5px 0 0 0;
    color: #000;
    font-size: 14px;
}
.login-base section footer a{ color: #fff; text-decoration: none;     font-size: 14px;}

.marque-one {
background: #de1f26;
    position: absolute;
    top: 6em;
    z-index: 100;
    padding: 8px 0 8px 10px;
    width: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    right: 0;
    border-radius: 5px 0px 0 5px;
}
.home-gallery {
	margin: 5rem 0 0 0;
}
#main-order {
	display: flex;
}
#main-order #1-div   {-webkit-order: 7;}
#main-order #2-div  {-webkit-order: 2;}
#main-order #3-div {-webkit-order: 3;}
#main-order #4-div  {-webkit-order:4;}
#main-order #5-div  {-webkit-order:5;}
#main-order #6-div  {-webkit-order:6;}
#main-order #7-div  {-webkit-order:1;}
/* Standard syntax */
#main-order #1-div  {order: 7;}
#main-order #2-div  {order: 2;}
#main-order #3-div {order: 3;}
#main-order #4-div {order: 4;}
#main-order #5-div {order: 5;}
#main-order #6-div {order: 6;}
#main-order #7-div {order: 1;}
.events .folder-link {
    margin-bottom: 30px;
    overflow: hidden;
}
.events .folder-link a {
    width: 100%;
    margin: 0 auto;
    display: table;
    background: #cecdc7;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s;
}
.events .folder-link a img {
    transition: all .5s;
    width: 100%;
    border-radius: 6px;
}
.events .folder-link h3 {
    text-align: center;
    color: #040707;
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
}
.events .folder-link a:hover img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}













.job-seekers {
	background: #fff;
    padding: 4rem 0 0 0;
}
.job-seekers .sekers-main {
	margin: 4rem 0 2rem 0;
}
.brws-link {
	    margin-top: -120px;
    position: relative;
}
.brws-link h1 {
	    color: #333;
    font-size: 46px;
    font-weight: 600;
}

.brws-link ul li {
	float: left;
}
.brws-link ul li a .fa {
	margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}
.brws-link ul li a {
	color: #333;
    font-size: 16px;
}
.brws-link ul li a.active {
	    color: #e14325;
}
.brows-jobs {
	margin: 9rem 0 3rem 0;
}
.brows-jobs {}
.brows-jobs .brw-inpt {
	padding: 15px 20px;
    border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #6b7c8a;
    font-weight: 400;
	width: 100%;
}
.brows-jobs input.brw-inpt:focus {
	outline: none;
}
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
	outline: none;
}
.brows-jobs ul.brws-click {}
.brows-jobs ul.brws-click li {
	float: left;
}
.brows-jobs ul.brws-click {
	margin-bottom: 15px;
}
.brows-jobs ul.brws-click li.brs-slaryrght {
	float: right;
	    padding: 6px 0;
    font-size: 16px;
    color: #333;
}

.accordion {
  width: 100%;
  margin: 0 auto;
}

.accordion-item {
  position: relative;
}
.accordion-item.active .heading {
  color: #ad91b0;
	border-bottom: none;
    border-radius: 6px 6px 0px 0px;
	margin-bottom: 0;
}
.accordion-item.active .icon {
  background: #fefefe;
}
.accordion-item.active .icon:before {
background: #e14325;
}
.accordion-item.active .icon:after {
  width: 0;
}
.accordion-item .heading {
  display: block;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 20px 15px 20px;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    margin-bottom: 35px;
    position: relative;
    border: 1px solid #eaeff5;

}
.accordion-item .heading h4 {
		    color: #040707;
  font-size: 18px;
    font-weight: 600;
	transition: all .5s;
}
.accordion-item .heading h4 .fa {
	margin-right: 10px;
}
.accordion-item .heading:hover {
 color: #e14325;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {
  background: #e14325;
}
.accordion-item .heading h4:hover{
	color: #e14325;
}
.accordion-item .icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 2px solid #fefefe;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.accordion-item .icon:before, .accordion-item .icon:after {
  content: '';
  width: 1rem;
  height: 0.25rem;
    background: #040707;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transition: 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
}
.accordion-item .content {
  display: none;
	    border: 1px solid #eaeff5;
    border-top: none;
    padding: 20px;
	margin-bottom: 35px;
}
.accordion-item .content p {
  margin-top: 0;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
	border: 1px solid #e14325;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    text-align: center;
	border-radius: 3px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #e14325;
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: none; /* focus style */
}




.job-seekers .table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.job-seekers .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
}
.job-seekers table.table.table-lg tr th {
	border-color: #eaeff5;
    padding: 15px 15px;
    vertical-align: middle;
    font-size: 18px;
    color: #040707;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
        text-align: center;
}

.job-seekers table.table tr td {  
    border-color: #eaeff5;
    padding: 15px 15px;
    vertical-align: middle;
 font-size: 16px;
    color: #040707;
    text-align: center;
}
.job-seekers .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.job-seekers tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.job-seekers table.table td a {
    font-weight: 300;
    display: flex;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
    font-size: 16px;
    color: #040707;
    letter-spacing: 1px;
}
.job-seekers table.table td a.apply-job-btn {
background: #e14325;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    padding: 5px 25px;
}
.job-seekers table.table td img {
    margin-right: 10px;
}

.job-seekers .jeeker-img {
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.job-seekers .table .job-type {
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
   /* border: 1px solid #eaeff5;
    font-weight: 600;*/
    letter-spacing: 0;
        text-align: center;
}
 /*.job-seekers .full-time {
    color: #1fb650!important;
    border-color: rgba(31, 182, 80,0.12) !important;
    background: rgba(31, 182, 80,0.12);
}
.job-seekers .internship {
    color: #f21136 !important;
    border-color: rgba(242, 17, 54,0.1) !important;
    background: rgba(242, 17, 54,0.1);
}
.job-seekers .part-time {
    color: #feb801 !important;
    border-color: rgba(254, 184, 1,0.1) !important;
    background: rgba(254, 184, 1,0.1);
}
*/
.job-seekers .pagination-container {
	margin: 30px 0 3rem 0;
}
.category-sect {
	background: url(../images/category-banner.jpg) no-repeat;
    background-size: cover;
	padding: 3rem 0;
}
.bigleap .category-sect  h3.main-title {
	color: #fff;
}
.bigleap .category-sect  p.main-descr {
	color: #fff;
}
.job-details {}
.job-details .job-titles {}
.job-details .job-titles .company-head {
    padding: 10px;
    border-radius: 50px;
    background: #ffffff;
    margin-top: -55px;
    border: 1px solid #eaeff5;
    box-shadow: 0px 0px 10px 1px rgba(71, 85, 95,0.08);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(71, 85, 95,0.08);
    -moz-box-shadow: 0px 0px 10px 1px rgba(71, 85, 95,0.08);
	display: block;
}
.job-details .job-titles .company-head h4 {
    font-size: 18px;
    color: #040707;
    font-weight: 600;
    text-align: left;
padding: 10px 0 5px 0;
	letter-spacing: 1px;
}
.job-details .job-titles .company-head h5 {
		font-size: 15px;
color: #e14325;
}
.job-details .job-titles .cmp-click-sect {
	    margin-top: -70px;
}
.job-details .job-titles .cmp-click-sect .cmp-cmn-det {
	    color: #040707;
    font-size: 16px;
    padding: 15px 0;
}
.job-details .job-titles .cmp-click-sect .cmp-cmn-det a {
		    color: #040707;
    font-size: 16px;
}
.job-details .job-titles .cmp-click-sect .cmp-cmn-det .fa {
	margin-right: 5px;
}
.cmp-click-sect .job-sub {
	background: #de1f26;
	border: 1px solid #de1f26;
    color: #fff;
    padding: 12px 5px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 600;
    display: block;
    text-align: center;
	transition: all .5s;
}
.cmp-click-sect .job-sub .fa {
	margin-right: 5px;
}
.cmp-click-sect .cmp-bookmark {
	border: 1px solid #de1f26;
	padding: 12px 5px;
	display: block;
	text-align: center;
	color: #000;
	font-size: 16px;
	transition: all .5s;
	 border-radius: 3px;
	background-color: #fff;
	margin-left: 20px;
}
.cmp-click-sect .cmp-bookmark .fa {
	margin-right: 5px;
}
.job-full-details {
	margin: 6rem 0 0 0;
}

.job-full-details .detail-wrapper {
    width: 100%;
    display: table;
    border-radius: 6px;
    margin-bottom: 40px;
    border: 1px solid #eaeff5;
}
.job-full-details .detail-wrapper-body {
    padding: 1.6rem 1.5em 1.6rem 1.5em;
}

.job-full-details .bg-success-light {
    background: rgba(15,183,107,0.1) !important;
    color: #0fb76b !important;
}
.job-full-details span.job-tag {
font-size: 13px;
    padding: 5px 15px;
    border-radius: 50px;
    top: -3px;
    position: relative;
    font-weight: 600;
}
.job-title-bar h3 {
font-size: 30px;
    color: #040707;
    font-weight: 600;
	padding-bottom: .5rem;
}
.job-title-bar p.address {
	font-size: 16px;
	color: #040707;
	line-height: 32px;
}
.job-title-bar p.rolues {
	font-size: 16px;
	color: #040707;
	line-height: 32px;
}
.job-title-bar p.rolues strong {
	font-weight: 600;
}
.widget-boxed {
    background-color: #fff;
    border-radius: 6px;
    padding: 0 20px 10px 20px;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    margin-bottom: 35px;
    position: relative;
    border: 1px solid #eaeff5;
}
.widget-boxed-body {
    padding: 20px 0 0 0 ;
}
.job-full-details .long-apply-btn {
	background: #de1f26;
    color: #fff;
    display: block;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.job-full-details .long-apply-btn .fa {
	margin-right: 10px;
}
.job-full-details .long-apply-btnchng {
	background: #e8edf1;
    color: #040707;
}
.job-full-details .detail-wrapper-header {
    padding: 1em 1em 1em 1.5em;
    border-bottom: 1px solid #eaeff5;
}
.job-full-details .detail-wrapper-header h4 {
	    color: #040707;
    font-size: 22px;
    font-weight: 600;
}
.job-full-details .detail-wrapper-body p {
	font-size: 16px;
    color: #040707;
	line-height: 26px;
	padding-bottom: 10px;
}
.job-full-details .detail-wrapper-body ul li {
	padding-bottom: 5px;
	display: flex;
	    line-height: 24px;
}
.job-full-details .detail-wrapper-body ul li .fa {
	margin-right: 10px;
	    margin-top: 3px;
	
}
.widget-boxed-header {
    padding: 14px 0;
    border-bottom: 1px solid #eaeff5;
}
.widget-boxed-header h4 {
	 color: #040707;
    font-size: 18px;
    font-weight: 600;
}
 .widget-boxed-header h4 .fa {
	margin-right: 10px;
}
.widget-boxed-header h4 {
    margin: 0;
}
.job-full-details .side-list ul li {
    list-style: none;
    padding: 10px 5px;
    display: inline-block;
    width: 100%;
    /*border-bottom: 1px dashed #eaeff5;*/
	    color: #040707;
    font-size: 15px;
}
.job-full-details .side-list ul li .fa {
	margin-right: 10px;
	width: 20px;
}
.job-full-details .side-list ul.job-social {
	margin: 0 auto;
	display: table;
}
.job-full-details .side-list ul.job-social li {
float: left;
    width: auto;
}
.widget-boxed-body h5 {
	color: #040707;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}
.job-full-details .side-list ul.job-social li .fa {
width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all ease .4s;
    border: 1px solid #eaeff5;
    box-shadow: 0 0 10px 1px rgba(71, 85, 95, .08);
    -webkit-box-shadow: 0 0 10px 1px rgba(71, 85, 95, .08);
    -moz-box-shadow: 0 0 10px 1px rgba(71, 85, 95, .08);
}
.job-full-details .side-list ul.job-social li .fa:hover {
	background: #e14325 ;
	color: #fff;
}
.job-full-details ul.tim-sct-job li {
	    list-style: none;
    padding: 10px 5px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #eaeff5;
}
.job-full-details ul.tim-sct-job li:last-child {
	border: none;
}
.job-full-details ul.tim-sct-job li span {
	float: right;
}
.category-sect .catgry-main {
	margin: 2rem 0;
}
.category-sect .catgry-main .catgry-sub {
	position: relative;
    height: 250px;
    background: #fff;
    box-shadow: 0 5px 25px 0 rgba(41, 128, 185, .15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41, 128, 185, .15);
    border-radius: 5px;
    text-align: center;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: 30px;
    overflow: hidden;
    transition: .6s linear;
	cursor: pointer;
}
.category-sect .catgry-main .catgry-sub .category-icon 
{
	width: 50px;
    height: 50px;
    margin: 25px auto;
    font-size: 50px;
	color: #e14325;
}
.category-sect .catgry-main .catgry-sub a { 
	font-size: 24px;
    color: #333;
    font-weight: 600;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.category-sect .catgry-main .catgry-sub p {
	text-align: center;
	font-size: 16px;
	color: #333;
}

.category-sect .catgry-main .catgry-sub .category-icon .hide-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0;
    transition: all ease-in 0.4s;
	font-size: 50px;
	color: #e14325;
}
.category-sect .catgry-main .catgry-sub:hover .category-icon .hide-icon {
    position: absolute;
    bottom: 25px;
    left: 25px;
    opacity: 1;
font-size: 50px;
	color: #e14325;
}
.company-list {
	margin: 4rem 0 0 0;
}
.company-list #carousel05 {
	margin-top: 2rem;
}
.company-list .owl-theme .owl-dots {
	display: none;
}
.company-list .owl-theme .owl-prev {
	position: absolute;
    top: 30%;
    left: 10px;
font-size: 65px !important;
	color: #e14325 !important;
}
.company-list .owl-theme .owl-next {
	position: absolute;
    top: 30%;
    right: 10px;
font-size: 65px !important;
	color: #e14325 !important;
}
.company-list .owl-theme .owl-prev:hover {
    	background: none;
}
.company-list .owl-theme .owl-next:hover {
    	background: none;
}
.company-list .owl-theme .owl-nav [class*=owl-]:hover {
	background: none !important;
}
.company-list .cmp-empl-list{
	background-color: #fff;
    padding: 30px 0 30px 0;
    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    transition: .7s;
    margin:30px 10px;
    position: relative;
}
.company-list .cmp-empl-list .cmp-log {
	width:70px;
	height: 70px;
	margin: 0 auto;
}
.company-list .cmp-empl-list h5 {
	font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    padding: 10px 0;
	text-align: center;
}
.company-list .cmp-empl-list p {
	    color: #333;
    padding-bottom: 15px;
    font-size: 16px;
	text-align: center;
}
.company-list .cmp-empl-list a.vacncy-link {
    font-size: 12px;
    border: 1px solid #e14325;
    padding: 5px 15px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    color: #e14325;
}
.company-list .job-type {
	padding: 3px 25px;
    border-radius: 50px;
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #eaeff5;
    position: absolute;
    top: 15px;
    left: 15px;
}
.company-list .full-time {
	    color: #1fb650!important;
    border-color: rgba(31, 182, 80,0.12) !important;
    background: rgba(31, 182, 80,0.12);
}
.company-list .part-time {
    color: #feb801 !important;
    border-color: rgba(254, 184, 1,0.1) !important;
    background: rgba(254, 184, 1,0.1);
}
.company-list .owl-carousel .owl-item img {
    margin: 30px auto;
}



.HeartAnimation {
  padding-top: 2em;
  background-image: url(../images/web_heart.png);
	background-repeat: no-repeat;
	background-size: 2900%;
  background-position: left;
	height: 50px;
	width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left
	}
	100% {
		background-position: right
	}
}
.company-list .heart {
	position: absolute;
	right: 0;
	top: 0;
}






.brow-titl h3 {
	    font-size: 20px;
	color: #040707;
	font-weight: 600;
}
.brow-titl h4 {
		    font-size: 16px;
	color: #040707;
	font-weight: 600;
	    text-align: right;
    padding: 10px 0;
}


.brws-drop .dropdown a {
  text-decoration: none;
}

.brws-drop .dropdown [data-toggle="dropdown"] {
display: block;
position: relative;
border: solid 1px transparent;
padding: 10px 10px;
margin: 0;
outline: 0;
font-size: 1em;
text-decoration: none;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
border-radius: 2px;
box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.brws-drop .dropdown [data-toggle="dropdown"] {
color: #040707;
	
	border: 1px solid #dde6ef;
    background: #fbfdff;
	text-align: center;
}

.brws-drop .dropdown [data-toggle="dropdown"]:hover {
      background: #e14325;
	color: #fff;
}

.brws-drop .dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.6em;
color: #040707;
  top: 14px;
  right: 10px;
	    opacity: 1;
	text-shadow: none;
}

.brws-drop .dropdown .icon-arrow.open {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
}

.brws-drop .dropdown .icon-arrow.close {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
}

.brws-drop .dropdown .icon-arrow:before {
  content: '\25BC';
}

.brws-drop .dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.brws-drop .dropdown .dropdown-menu li {
  padding: 0;
}

.brws-drop .dropdown .dropdown-menu li a {
  display: block;
  color: #6e6e6e;
  background: #eeeeee;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  padding: 10px 10px;
}

.brws-drop .dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}

.brws-drop .dropdown .show, .dropdown .hide {
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.brws-drop .dropdown .show {
  display: block;
  max-height: 9999px;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
	    min-width: 100%;
	text-align: center;
}

.brws-drop .dropdown .hide {
  max-height: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
.brws-sub {
	margin-top: 3rem ;
}
.brws-sub .brws-sect {
	display: block;
    width: 100%;
    margin-bottom: 40px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    padding: 20px 25px;
    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
}
.vertical-job-header {
    display: inline-block;
    width: 100%;
    padding: 12px 0 10px 0;
    align-items: center;
}
.vrt-job-cmp-logo {
    max-width: 55px;
    float: left;
	margin-right: 10px;
}
.vertical-job-header h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1;
    margin-top: 7px;
}
.vertical-job-header h4 a {
    color: #040707;
    font-size: 20px;
    font-weight: 600;
}
.vertical-job-header .com-tagline {
    font-size: 13px;
    margin-bottom: 2px;
    display: block;
}
span.pull-right.vacancy-no {
    position: absolute;
    right: 50px;
    top: 25px;
}
span.pull-right.vacancy-no span.v-count {
	    background: #e14325;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    color: #fff;
}
.vertical-job-body {
    border-top: 1px solid #eaeff5;
    border-bottom: 1px solid #eaeff5;
    padding: 15px 0;
    width: 100%;
}
.vertical-job-card ul {
    margin: 0;
    padding: 0;
}
.vertical-job-body ul li {
    padding: 8px 0;
	    display: flex;
}

.vertical-job-card ul li {
    list-style: none;
}
.vertical-job-body ul.can-skils li strong {
    width: 150px;
    display: inline-block;
}
.vrt-job-act {
    text-align: center;
    display: table;
}

.vrt-job-act {
    margin-top: 2.5em;
}
.btn-job {
    display: inline-block;
    min-width: 140px;
    text-align: center;
    border-radius: 50px;
    padding: 6px 20px;
    border: 1px solid transparent;
    margin: 6px auto;
	    background: #e14325;
    color: #fff;
}
.light-gray-btn {
    background: #f1eb21;
    border: 1px solid #f1eb21;
	color: #040707;
}
.vertical-job-footer {
    padding: 15px 0;
}
.vertical-job-card ul {
    margin: 0;
    padding: 0;
}
.cmp-job-rating ul li, .cmp-job-review ul li {
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
}
.cmp-job-rating ul li strong {
    margin-right: 7px;
	font-weight: 700;
}
.cmp-job-rating .rate {
    color: #f7874e;
}

.cmp-job-rating i {
    color: #b1c1d0;
}
.fa-star:before {
    content: "\f005";
}
.cmp-job-review {
    float: right;
}
.cmp-job-rating ul li, .cmp-job-review ul li {
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
}
.cmp-job-rating ul li a, .cmp-job-review ul li a {
    color: #8492af;
}
.cmp-job-review ul li i {
    margin-left: 10px;
}
.skill-tag {
    background-color: #eaedf3;
    border-radius: 0 2px 2px 0;
    color: #8492af;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.2727272727;
    margin: 2px 15px 2px 0px;
    padding: 3px 7px;
    position: relative;
    text-transform: uppercase;
}
.skill-tag:before {
    border-top: 10px solid transparent;
    border-left: 9px solid #eaedf3;
    border-bottom: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    right: -8px;
    width: 0;
}
.skill-tag:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    top: 8px;
    right: -2px;
    width: 4px;
}

















.contact-wrapper {
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	max-width: 800px;
}
.quick-pop .form-horizontal {
	float: left;
	max-width: 400px;
	font-family: 'Lato';
	font-weight: 400;
}
.quick-pop .form-control, textarea {
	background-color: #fff;
	color: #040707;
	letter-spacing: 1px;
}
.quick-pop .form-control-text {
	height: 100px !important;
}
.quick-pop .send-button {
	margin-top: 15px;
	height: 34px;
	width: 100%;
	overflow: hidden;
	transition: all .2s ease-in-out;
	background-color: #e14325;
	border-color: #e14325;
}
.quick-pop .button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
}
.quick-pop .send-text {
	display: block;
	margin-top: 10px;
	letter-spacing: 2px;
}
.quick-pop .button:hover {
	transform: translate3d(0px, -25px, 0px);
}
.quick-pop .btn-primary:hover {
	color: #fff;
	background-color: #e14325;
	border-color: #e14325;
}
.demo-gallery > ul {
	margin-bottom: 0;
	padding-left: 0;
	margin-top: 3rem;
}
.demo-gallery > ul > li {
	margin: 0 10px 30px 10px;
	margin-bottom: 30px;
	width: 260px;
	display: inline-block;
	list-style: outside none none;
}
.demo-gallery > ul > li a {
	border: 1px solid #040707;
	border-radius: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
}
.demo-gallery > ul > li a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark > ul > li a {
	border: 3px solid #04070a;
}
.events .folder-link {
	margin-bottom: 30px;
	overflow: hidden;
}
.events .folder-link a {
	width: 100%;
	margin: 0 auto;
	display: table;
	background: #cecdc7;
	padding: 20px;
	border-radius: 10px;
	transition: all .5s;
}
.events .folder-link a img {
	transition: all .5s;
	    width: 100%;
    border-radius: 6px;
}
.events .folder-link a:hover img {
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.events .folder-link h3 {
	text-align: center;
	color: #040707;
	font-size: 20px;
	padding: 10px 0;
	font-weight: bold;
}
.slidersection {
	position: relative;
}
.slidersection img {
	width: 100%;
}
.animationsect {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.animationsect .divslidetxt h1 {
	color: #fff;
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
	padding-top: 3rem;
}
.cmn-link {
	font-size: 14px;
	text-align: center;
	background: #f1eb21;
	padding: 10px 30px;
	font-weight: 600;
	border-radius: 30px;
	color: #040707;
	margin-top: 15px;
	transition: all .5s;
}
.cmn-link:hover {
	padding: 10px 35px;
	color: #e14325;
}
/*contents start from her*/

.service-sect {
	margin: 50px 0 0 0;
}
.bigleap h3.main-title {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	z-index: 1;
	margin-bottom: 40px;
	line-height: 44px;
	position: relative;
	padding-bottom: 10px;
	text-transform: capitalize;
}
.bigleap h3.main-title:after {
	position: absolute;
	content: "";
	border-top: 2px solid #040707;
	bottom: -10px;
	width: 120px;
	height: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-bottom: .5rem;
}
.bigleap h3.main-title:before {
	position: absolute;
	content: "";
	border-top: 4px solid #de1f26;
	bottom: -3px;
	width: 40px;
	height: 4px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.bigleap p.main-descr {
	color: #040707;
	position: relative;
	font-size: 17px;
	line-height: 28px;
	text-align: center;
	padding: 0 4rem;
	font-weight: 300;
	    font-family: arial,sans-serif;
}
.service-sect .box-sect {
	background-color: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	padding: 40px 30px 40px 30px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .25s;
	transition: .5s;
	cursor: pointer;
	margin-top: 50px;
}
.service-sect .box-sect .boxspan {
	margin-bottom: 20px;
	height: 3.5rem;
	width: 3.5rem;
	padding: 18px;
	color: #fff;
	border-radius: 100%;
	margin-left: auto;
	-webkit-transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87);
	transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87);
	margin-right: auto;
	background: linear-gradient(-45deg, #f1eb21, #de1f26);
}
.service-sect .boxspan-1 {
	background: linear-gradient(-45deg, #000000, #f1eb21) !important;
}
.service-sect .boxspan-2 {
	background: linear-gradient(-45deg, #de1f26, #000000) !important;
}
.service-sect .boxspan-3 {
	background: linear-gradient(-45deg, #7836c5, #000000) !important;
}
.service-sect .box-sect .boxspan .fa {
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}
.service-sect .box-sect h4.heading {
margin-bottom: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: arial,sans-serif;
}
.service-sect .box-sect p.detail {
	color: #626881;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
min-height: 120px;
	    font-size: 16px;
}
.service-sect .box-sect:hover .boxspan {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.padd-zero {
	padding: 0;
}
.about-sect .half-box {
	padding: 120px 40px;
}
.about-sect .employer-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	right: 0;
	display: block;
	opacity: 0.6;
	background: #f1eb21;
	background: linear-gradient(-45deg, #e14325, #de1f26);
}
.about-sect .half-box h2 {
	font-size: 58px;
	color: #fff;
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
}
.about-sect .half-box h2:after {
	position: absolute;
	content: "";
	border-top: 4px solid #de1f26;
	bottom: -20px;
	width: 40px;
	height: 4px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about-sect .half-box h2:before {
	position: absolute;
	content: "";
	border-top: 2px solid #000;
	bottom: -19px;
	width: 120px;
	height: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about-sect .half-box p {
	color: #fff;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	padding: 5px 0;
}
.about-sect .half-box a {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	border-radius: 50px;
	text-transform: uppercase;
}
.about-sect .candidate-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	background: #040707;
	opacity: 0.8;
}
.about-sect a.cmn-link {
	padding: 15px 50px;
	transition: all .5s;
}
.about-sect a.cmn-link:hover {
	padding: 15px 55px;
	color: #e14325;
}
.bigleap-intro {
	background: #fff;
	padding: 7rem 0;
}
.abt-bigleap {
	padding: 100px 0;
	position: relative;
	background: url(../images/backround-layer-01.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.client-sect {
	padding: 3rem 0 2rem 0;
	background: #fff;
}
.client-sect .owl-nav, .client-sect .owl-dots {
	display: none;
}
.client-sect .owl-carousel .owl-item a {
	width: 99%;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 0px 20px;
	border-radius: 10px;
}
.client-sect .owl-carousel .owl-stage-outer {
	margin-top: 50px;
}
.blog-sect {
	background: #f2f5fa;
	padding: 4rem 0;
}
.blog-sect .blog-mian {
	margin: 50px 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.blog-sect .blog-mian .blog-img {
	overflow: hidden;
}
.blog-sect .blog-mian .blog-img a img {
	transition-duration: 3s;
	margin: 0 auto;
	display: block;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
.blog-sect .bolg-body {
	background: #fff;
	padding: 20px;
}
.blog-sect .bolg-body h5 {
	color: #040707;
	font-size: 16px;
}
.blog-sect .bolg-body h4 {
	padding: 30px 0;
}
.blog-sect .bolg-body h4 a {
	font-size: 20px;
	color: #040707;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .5s;
}
.blog-sect .bolg-body ul {
/*margin: 20px 0;*/
}
.blog-sect .bolg-body ul li {
	float: left;
	margin-right: 1.5rem;
}
.blog-sect .bolg-body ul li a {
	text-transform: uppercase;
	font-size: 14px;
	color: #040707;
	transition: all .5s;
}
.blog-sect .bolg-body ul li a:hover {
	color: #de1f26;
}
.blog-sect .bolg-body ul li a .fa {
	margin-right: 5px;
	color: #040707;
}
.blog-sect .bolg-body ul li a:hover .fa {
	color: #de1f26;
}
.newsletter {
	padding: 2rem 0;
}
.blog-sect .blog-mian:hover .bolg-body h4 a {
	color: #de1f26;
}
.blog-sect .blog-mian:hover .blog-img a img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	z-index: 0;
}
.blog-sect .cmn-link {
	margin: 0 auto;
	display: table;
}
.bigleap .bigleap-intro h3.main-title {
    text-align: left;
    font-size: 2.5rem;
    margin-top: 4rem;
    line-height: 54px;
    font-weight: 600;
}
.bigleap .bigleap-intro h3.main-title:after {
	margin: 0;
}
.bigleap .bigleap-intro h3.main-title:before {
	margin: 0;
}
.bigleap .bigleap-intro p {
	color: #000;
	font-size: 16px;
	line-height: 24px;
}
.bigleap .bigleap-intro h4 {
	text-align: left;
	font-size: 1.6rem;
	margin: 2rem 0 1rem 0;
	font-weight: bold;
}
.blog-sect .pagination-container {
	margin-top: 0;
}
.testimonial-sect {
	padding: 80px 50px;
	/*background-image: -webkit-linear-gradient(110deg, #de1f26 0%, #f1eb21 100%);*/
	text-align: center;
}
.testimonial-sect .test-main p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 0px;
	color: #50668f;
}
.testimonial-sect .test-main .test-text {
	text-align: center;
	padding: 50px 20px 35px;
	border: 2px solid #eeeeee;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.test-main {
	cursor: pointer;
}
.test-main:hover .test-text {
	border: 2px solid #de1f26;
}
.testimonial-sect ul {
	margin: 0px auto;
	display: table;
	background: #f2f5fa;
	width: 100%;
	padding: 15px 20px;
}
.testimonial-sect ul li {
	float: left;
}
.testimonial-sect ul li span {
	display: block;
}
.testimonial-sect ul li span.testi-name {
	color: #040707;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 5px 20px;
}
.testimonial-sect ul li span.test-desig {
	color: #040707;
	font-size: 14px;
	margin: 0 0 0 10px;
}
.testimonial-sect .owl-dots, .testimonial-sect .owl-nav {
	display: none;
}
.testimonial-sect .rating {
	font-size: 25px;
	overflow: hidden;
	margin: 20px auto;
	display: table;
}
.testimonial-sect .rating input {
	float: left;
	opacity: 0;
	position: absolute;
}
.testimonial-sect .rating a, .testimonial-sect .rating label {
	float: right;
	color: #50668f;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
	margin: 0 2px;
}
.testimonial-sect .rating label:hover~label, .testimonial-sect .rating input:focus~label, .testimonial-sect .rating label:hover, .testimonial-sect .rating a:hover, .testimonial-sect .rating a:hover~a, .testimonial-sect .rating a:focus, .testimonial-sect .rating a:focus~a {
	color: orange;
	cursor: pointer;
}
.testimonial-sect #carousel02 {
	margin-top: 80px;
}
.newsletter .map-sect {
	position: relative;
}
.newsletter p.main-descr {
	padding-bottom: 60px;
}
.newsletter .map-sect .map-addres {
	background: #fff;
	padding: 60px 40px 40px 40px;
	width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.newsletter .map-sect .map-addres .adds-loca h5 {
	font-size: 18px;
	font-weight: bold;
	color: #0b0c05;
	padding-bottom: 5px;
	transition: all .5s;
	letter-spacing: 1px;
}
.newsletter .map-sect .map-addres .adds-loca h5 a {
	font-size: 18px;
	font-weight: bold;
	color: #0b0c05;
	transition: all .5s;
}
.newsletter .map-sect .map-addres .adds-loca h5 a:hover {
	color: #e14325;
}
.newsletter .map-sect .adrmarg {
	margin-bottom: 2rem;
}
.newsletter .map-sect .map-addres .adds-loca .fa {
	font-size: 20px;
	font-weight: 700;
	color: #0b0c05;
}
.newsletter .map-sect .adds-localeft {
}
.newsletter .map-sect span.click {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.newsletter .map-sect span.click .fa {
	color: #e14325;
	font-size: 20px;
}
.newsletter .footer-form .input-set {
	margin-bottom: 25px;
}
.newsletter .footer-form .biglabel {
	font-size: 12px;
	font-weight: 500;
	color: #1e283c;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.newsletter .footer-form .input-big {
	border-radius: 0px;
	width: 100%;
	background: #f2f5fa;
	padding: 0.675rem 0.75rem;
	font-size: 14px;
	border: 1px solid #f2f5fa;
}
.newsletter .footer-form .input-txt {
	min-height: 90px;
	resize: none;
}
.newsletter .footer-form .big-btn {
	padding: 10px 30px;
	background: #f2f5fa;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	display: table;
	letter-spacing: 1px;
	transition: all .5s;
}
.newsletter .footer-form .big-btn:hover {
	background: #040707;
	color: #fff;
}
.footer {
	position: relative;
	background: #f3f4f9;
	padding: 100px 0 60px 0;
	margin-top: 120px;
}
.footer:before {
	background: url(../images/footer-top.png) no-repeat;
	content: "";
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background-size: 100% 100%;
}
.footer .footer-logo {
	width: 30%;
}
.footer .footer-desc p {
	font-size: 1rem;
	color: #040707;
	font-weight: 400;
	line-height: 25px;
	padding: 20px 0;
}
.footer h6.list-title {
	text-transform: uppercase;
	font-size: 16px;
	color: #040707;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
.footer ul.list-items li a {
	color: #040707;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 7px 0;
	transition: all .5s;
}
.footer ul.list-items li a:hover {
	color: #de1f26;
}
.footer ul.social-links {
	margin-top: 10px;
}
.footer ul.social-links li {
	float: left;
	margin: 0 1px;
}
.footer ul.social-links li a {
	width: 30px;
	height: 30px;
	background: #c0c3ce;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	transition: all .5s;
}
.footer ul.social-links li a:hover {
	background: #040707;
}
.footer ul.social-links li a:hover .fa {
	color: #f1eb21;
}
.footer .ft-newsform {
	margin: 30px 0;
	background: #fff;
}
.footer .ft-newsform .ft-nwsinpt {
	float: left;
	background: #040707;
	padding: 11px 10px 11px 10px;
	width: 79%;
	color: #fff;
	font-size: 13px;
}
 .footer .ft-newsform .ft-nwsinpt::-webkit-input-placeholder {
 color: #fff;
}
 .footer .ft-newsform .ft-nwsinpt:-ms-input-placeholder {
 color: #fff;
}
 .footer .ft-newsform .ft-nwsinpt::placeholder {
 color: #fff;
}
.footer .ft-newsform .ft-btnnws {
	float: right;
	background: #fff;
}
.footer .ft-newsform .ft-btnnws .fa {
	color: #040707;
	padding: 11px 8px;
}
.footer p.ft-bottom {
	text-align: center;
	padding-top: 30px;
	color: #000;
	font-size: 15px;
	line-height: 24px;
}
/*back to top start here*/
scrolltop {
	display: none;
}
#rocketmeluncur {
	position: fixed;
	bottom: 50px;
	z-index: 7;
	display: none;
	visibility: hidden;
	width: 26px;
	height: 48px;
	right: 25px;
	background: url(../images/back-to-top.png)no-repeat 50% 0;
	opacity: 0;
	-webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	-moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#rocketmeluncur i {
	display: block;
	margin-top: 48px;
	height: 14px;
	background: url(../images/fail.png)no-repeat 50% -48px;
	opacity: .5;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	transition: transform .2s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0
}
#rocketmeluncur:hover {
	background-position: 50% -62px
}
#rocketmeluncur:hover i {
	background-position: 50% 100%;
	-webkit-animation: flaming .7s infinite;
	-moz-animation: flaming .7s infinite;
	animation: flaming .7s infinite
}
#rocketmeluncur.showrocket {
	visibility: visible;
	opacity: 1
}
#rocketmeluncur.launchrocket {
	background-position: 50% -62px;
	opacity: 0;
	-webkit-transform: translateY(-800px);
	-moz-transform: translateY(-800px);
	-ms-transform: translateY(-800px);
	transform: translateY(-800px);
	pointer-events: none
}
#rocketmeluncur.launchrocket i {
	background-position: 50% 100%;
	-webkit-transform: scale(1.4, 3.2);
	-moz-transform: scale(1.4, 3.2);
	transform: scale(1.4, 3.2)
}
/*back to top end here*/
.about-page {
	position: relative;
	height: 300px;
	background: gray url(../images/common-layer.png)repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
	-webkit-animation: slide 20s linear infinite;
}
.about-page-dark {
	position: relative;
	height: 400px;
	background: gray url(../images/common-layer-chng.png)repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
	-webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
 from {
background-position: 0 0;
}
 to {
background-position: -400px 0;
}
}
.about-page:before {
	content: "";
	position: absolute;
	background: url(../images/cmn-banner-left.png) no-repeat;
	background-size: contain;
	left: 0;
	bottom: 0;
width: 120px;
    height: 180px;
}
.about-page:after {
	content: "";
	position: absolute;
	background: url(../images/cmn-banner-right.png) no-repeat;
	background-size: contain;
	right: 0;
	bottom: 0;
    width: 120px;
    height: 190px;
}
.about-page .common-titles {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.about-page .common-titles h2.header-page-subtitle {
	font-size: .8rem;
	text-align: center;
	color: #de1f26;
	text-transform: capitalize;
	font-weight: bold;
}
.about-page .common-titles h1.header-page-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #040707;
	text-transform: capitalize;
}
.about-page-details {
	margin: 5rem 0;
}
.about-page-details .img-abt {
	border: 0.8em solid #f4f4f4;
	box-shadow: 0.5em 0.5em 1em #ccc;
	    margin-top: 2rem;
}
.about-page-details .img-abt img {
	width: 100%;
}
.about-page-details h3 {
	font-size: 44px;
	font-weight: 900;
	color: #040707;
	padding: 15px 0;
}
.about-page-details p {
	color: #040707;
	font-size: 14px;
	line-height: 26px;
}
/*.about-page-details p.first {
	text-indent: 3rem;
}*/
.about-page-details .marg-top {
	margin-top: 5rem;
}
.about-page-details p b {
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 24px;
	padding: 5px 0;
}
.abt-process {
	background: #ebefff;
	padding: 5rem 0;
}
.abt-process .process-main {
	-webkit-box-shadow: 0 15px 29px -4px #3f49621f;
	box-shadow: 0 15px 29px -4px #3f49621f;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 5px;
	-webkit-transition: .25s;
	transition: .5s;
	padding: 2rem 2rem 4rem;
	background: #fff;
	cursor: pointer;
	margin-top: 50px;
}
.abt-process .process-main .pro-img {
	height: 4rem;
	width: 4rem;
	margin: 0 auto;
}
.abt-process .process-main h4 {
	margin: 1rem 0 .5rem;
	font-size: 1.2rem;
	font-weight: 900;
	color: #040707;
	text-align: center;
}
.abt-process .process-main p {
	position: relative;
	margin-top: .5rem;
	text-align: center;
	line-height: 26px;
	color: #040707;
	padding-bottom: 20px;
}
.abt-process .process-main:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
.mylivechat_collapsed, .mylivechat_expanded {
	background-color: rgb(225, 67, 37) !important;
	border: 0px solid rgb(225, 67, 37) !important;
}
.mylivechat_offline_submit_button {
	background: #de1f26 !important;
}
/*-- Team section--*/
.our-team .team-grids {
	margin-top: 50px;
}
.our-team .team {
	background: #f5f5f5;
	padding: 5em 0;
}
.our-team h3.title {
	color: #faad81;
	font-size: 50px;
	text-align: center;
	margin-bottom: 1em;
	font-weight: 600;
	font-style: italic;
}
.our-team .team-grid {
	text-align: center;
}
.our-team .team {
	background: #f5f5f5;
	padding: 5em 0;
}
.our-team .team-grid {
	text-align: center;
}
.our-team .team-grid h4 {
	font-size: 25px;
	color: #040707;
	font-weight: 600;
	margin: 30px 0 0;
}
.our-team .team-grid h5 {
	font-size: 16px;
	color: #040707;
	font-weight: 400;
	margin: 10px 0 15px;
	text-transform: capitalize;
}
.our-team .team-grid p {
	color: #777;
	font-size: 1em;
}
.our-team .social-nav li {
	display: inline-block;
}
.our-team .social-nav a {
	display: inline-block;
	float: none;
	width: 30px;
	height: 30px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	background: #000;
	position: relative;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.our-team .model-3d-0 a {
	background: #5C5B5B;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.our-team .model-3d-0 .front, .our-team .model-3d-0 .back {
	width: 30px;
	height: 30px;
	font-size: 1em;
	color: #fff;
	background: #e14325;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateZ(18px);
	-moz-transform: translateZ(18px);
	-ms-transform: translateZ(18px);
	-o-transform: translateZ(18px);
	transform: translateZ(18px);
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}
.our-team .model-3d-0 .back {
	font-size: 1em;
	color: #fff;
	-webkit-transform: rotateX(90deg) translateZ(18px);
	-moz-transform: rotateX(90deg) translateZ(18px);
	-ms-transform: rotateX(90deg) translateZ(18px);
	-o-transform: rotateX(90deg) translateZ(18px);
	transform: rotateX(90deg) translateZ(18px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.our-team .twitter .back, .our-team .facebook .back, .our-team .instagram .back, .our-team .pinterest .back, .our-team .linkedin .back {
	background: #f1eb21;
}
.our-team .model-3d-0 a:hover {
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.our-team .model-3d-0 a:hover .back {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
}
.our-team .stack img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
	border: 10px solid #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.our-team .stack:last-of-type {
	margin-right: 0;
	cursor: pointer;
}
.our-team .stack.twisted:before {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}
.our-team .stack.twisted:after {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
.our-team .stack:hover:before, .our-team .stack:hover:after, .our-team .team-grid:hover .stack:before, .our-team .team-grid:hover .stack:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
/*-- Team section--*/
.our-team .stack:before, .our-team .stack:after {
	content: "";
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 10px solid #fff;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
}
.our-team .stack:before {
	top: 4px;
	z-index: -10;
}
.our-team .stack:after {
	top: 8px;
	z-index: -20;
}
.our-team .stack {
	float: none;
	width: 92%;
	margin: 3% 0% 8% 4%;
	position: relative;
	z-index: 1;
}
.contact-info {
	padding: 5rem 0;
}
.contact-info .cnt-main {
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
	border-top: 4px solid #e14325;
	padding: 30px;
	margin: 15px 0;
	word-break: break-word;
	margin-top: 4rem;
	transition: all .5s;
}
.contact-info .cnt-main .fa {
	color: #fff;
	font-size: 20px;
	background-color: #e14325;
	padding: 15px;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 30px;
	width: 50px;
	height: 50px;
	transition: all .5s;
}
.contact-info .cnt-main h5 {
	font-size: 25px;
	color: #2a2a68;
/*	font-weight: 600;*/
	line-height: 36px;
	padding-bottom: 10px;
}
.contact-info .cnt-main a {
	font-size: 18px;
	color: #2a2a68;
/*	font-weight: 600;*/
	line-height: 26px;
	display: block;
	transition: all .5s;
}
.contact-info .cnt-main a:hover {
	color: #e14325;
}
.contact-info .cnt-main h6 {
	font-size: 18px;
	color: #2a2a68;
	/*font-weight: 600;*/
	line-height: 26px;
	display: block;
}
.contact-info .cnt-main:hover {
	border-top: 4px solid #040707;
}
.contact-info .cnt-main:hover .fa {
	color: #fff;
	background: #040707;
}
/*-- pagination section--*/

.pagination-container {
	margin: 100px auto 0 auto;
	text-align: center;
}
.pagination {
	position: relative;
}
.pagination a {
	position: relative;
	display: inline-block;
	color: #040707;
	text-decoration: none;
	font-size: 1rem;
	width: 35px;
	height: 35px;
	background: #e14325;
	border-radius: 50%;
	font-weight: 600;
	padding: 8px;
}
.pagination a:hover, .pagination a.pagination-active {
	color: #fff;
	background: #040707;
}
.pagination-newer {
	margin-right: 30px;
}
.pagination-older {
	margin-left: 30px;
}
/*-- pagination section--*/
.service-sect {
}
.service-sect .servic-tab {
	margin: 5rem 0;
}
.service-sect .nav-tabs>li>a {
	color: #000;
	font-weight: 400;
	font-size: 18px;
}
.service-sect .tabs-left {
	border-bottom: none;
	border-right: 1px solid #ddd;
	background: #f6f6f6;
}
.service-sect .tabs-left>li {
	float: none;
	margin: 0px;
}
.service-sect .tabs-left>li.active>a, .service-sect .tabs-left>li.active>a:hover, .service-sect .tabs-left>li.active>a:focus {
	border-bottom-color: #ddd;
	border-right-color: transparent;
	background: #e14325;
	border: none;
	border-radius: 0px;
	margin: 0px;
	color: #fff;
}
.service-sect .nav-tabs>li>a:hover {
	line-height: 1.42857143;
	border: 1px solid transparent;
	color: #040707;
	background: #f1eb21;
}
.service-sect .tabs-left>li.active>a::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #e14325;
	display: block;
	width: 0;
}
.service-sect h3.module-title {
	color: #fff;
	background: #040707;
	font-size: 22px;
	line-height: 1.3;
	padding: 10px;
	text-align: left;
	font-weight: 600;
	letter-spacing: 1px;
}
.service-sect .tab-contents .tab-imgs img {
	width: 100%;
}
.service-sect .tab-contents .tab-imgs {
	position: relative;
}
.service-sect .tab-contents .tab-imgs .serv-txt {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
}
.service-sect .tab-contents .tab-imgs .serv-txt h3 {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding-bottom: 10px;
}
.service-sect .tab-contents .tab-imgs .serv-txt p.sudser {
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	padding: 0 3rem;
}
.service-sect .tab-contents h4 {
	color: #040707;
	font-size: 40px;
	padding: 30px 0;
	font-weight: 900;
}
.service-sect .tab-contents p {
	color: #040707;
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 20px;
}
.service-sect .tab-contents h5 {
	color: #040707;
	font-size: 30px;
	padding: 10px 0 20px 0;
	font-weight: 900;
}
.service-sect .tab-contents ul {
	margin: 10px 0 20px 0;
}
.service-sect .tab-contents ul li {
	color: #040707;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 0px;
}
.service-sect .tab-contents ul li .fa {
	margin-right: 10px;
	color: #e14325;
}
.service-sect .download-area {
	margin: 2rem 0;
}
.service-sect .download-area .download-main {
	background: #f6f6f6;
	padding: 15px;
}
.service-sect .download-area .download-main ul li {
}
.service-sect .download-area .download-main ul li a {
	padding: 10px 0;
	color: #040707;
	font-size: 16px;
	font-weight: 400;
	transition: all .5s;
}
.service-sect .download-area .download-main ul li .fa {
	margin-right: 10px;
	transition: all .5s;
}
.service-sect .download-area .download-main ul li a:hover {
	color: #e14325;
}
.service-sect .download-area .download-main ul li a:hover .fa {
	color: #e14325;
}
.service-sect .servc-cnt {
}
.service-sect .servc-cnt h5 {
	color: #040707;
	font-size: 18px;
	font-weight: 600;
}
.service-sect .servc-cnt h6 {
	font-size: 14px;
	padding: 5px 0;
	color: #040707;
}
.service-sect .servc-cnt p a {
	font-size: 14px;
	font-weight: 600;
	color: #e14325;
}
.service-sect .marg-btm {
	margin-bottom: 30px;
}
.service-sect .padd-lftr {
	padding: 0 10px;
}
.service-sect .download-area .download-main p {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}
.service-sect .download-area .cmn-link {
	text-transform: uppercase;
	font-size: 14px;
}
.service-sect .download-area .cmn-link .fa {
	margin-right: 10px;
	font-size: 20px;
	vertical-align: middle;
}
.service-sect .faq {
	margin: 3rem 5rem;
}
.service-sect .faq #accordion .panel {
	border-radius: 0;
	border: 0;
	margin-bottom: 30px;
}
.service-sect .faq #accordion a {
	display: block;
	padding: 18px 30px 18px 30px;
	border-bottom: 1px solid #f1eb21;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: left;
	background: #de1f26;
	color: #fff;
}
.service-sect .faq #accordion .panel-heading a.collapsed:hover, .service-sect .faq #accordion .panel-heading a.collapsed:focus {
	background-color: #040707;
	color: #fff;
	transition: all 0.2s ease-in;
	padding: 18px 30px 18px 30px;
}
.service-sect .faq #accordion .panel-heading a.collapsed:hover::before, .service-sect .faq #accordion .panel-heading a.collapsed:focus::before {
	color: #fff;
}
.service-sect .faq #accordion .panel-heading {
	padding: 0;
	border-radius: 0px;
	text-align: center;
}
.service-sect .faq #accordion .panel-heading a:not(.collapsed) {
	color: #fff;
	background-color: #de1f26;
	transition: all 0.2s ease-in;
}
/* Add Indicator fontawesome icon to the left */
.service-sect .faq #accordion .panel-heading .accordion-toggle::before {
	font-family: 'FontAwesome';
	content: '\f00d';
	float: right;
	color: white;
	font-weight: lighter;
	transform: rotate(0deg);
	transition: all 0.2s ease-in;
}
.service-sect .faq #accordion .panel-heading .accordion-toggle.collapsed::before {
	color: #040707;
	transform: rotate(-135deg);
	transition: all 0.2s ease-in;
}
.service-sect .panel-group .panel-heading + .panel-collapse > .panel-body, .service-sect .panel-group .panel-heading + .panel-collapse > .list-group {
	border: 1px solid #ddd;
	background: #f6f6f6;
}
.faq-form {
	background: #f8f9fa;
	padding: 4rem 0;
	margin: 3rem 0;
}
.faq-form-main .faq-frm-sub {
	margin-bottom: 2rem;
}
.faq-form-main .faq-frm-sub .input-big {
	border-radius: 0px;
	width: 100%;
	background: #fff;
	padding: 15px;
	font-size: 14px;
	border: 2px solid #f2f5fa;
}
.faq-form-main .faq-frm-sub .biglabel {
	font-size: 12px;
	font-weight: 500;
	color: #1e283c;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.faq-form-main .faq-frm-sub .biglabel sup {
	color: #de1f26;
	font-size: 20px;
	top: 0;
}
.faq-form-main .faq-frm-sub .input-bigtext {
	min-height: 100px;
	resize: none;
}
.faq-form-main .faq-frm-sub .big-btn {
	width: 100%;
	padding: 15px;
	background: #040707;
	transition: all .5s;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.faq-form-main .faq-frm-sub .big-btn:hover {
	background: #e14325;
}
.events {
	margin: 4rem 0;
}
.events p.main-descr {
	padding-bottom: 2rem;
}
.events ul {
	list-style: none;
}
.events li {
	list-style: none;
	margin-top: 2rem;
}
.events .hidden {
	overflow: hidden;
	display: none;
	visibility: hidden;
}
.events .btn-gallery {
	width: 100%;
	display: block;
}
.events .btn-gallery img {
	width: 100%;
}
.registration {
	margin: 4rem 0 0rem 0;
}
.registration .reg-ser-main {
	border-radius: 20px;
	-webkit-box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	padding: 40px 30px 40px 30px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .25s;
	transition: .5s;
	cursor: pointer;
	margin-top: 50px;
	min-height: 320px;
}
.registration .reg-ser-main span.reg-icn {
	display: block;
}
.registration .reg-ser-main span.reg-icn .fa {
	font-size: 40px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	color: #040707;
	transition: all .5s;
}
.registration .reg-ser-main h4 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
	color: #040707;
	transition: all .5s
}
.registration .reg-ser-main p {
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #040707;
}
.registration .reg-ser-main:hover h4 {
	color: #e14325;
}
.registration .reg-ser-main:hover span.reg-icn .fa {
	color: #e14325;
}
.registration .skills-sect {
	margin: 4rem 0 0 0;
}
.registration .skills-sect p {
	line-height: 24px;
    font-size: 16px;
    color: #000;
    /* padding: 0 20px; */
    text-align: justify;
}
.registration .skills-sect #accordion .panel {
	border-radius: 0;
	border: 0;
	margin-bottom: 20px;
}
.registration .skills-sect #accordion .panel-heading {
	padding: 0;
	border-radius: 0px;
	text-align: center;
}
.registration .skills-sect #accordion .panel-heading a:not(.collapsed) {
	color: #fff;
	background-color: #e14325;
	transition: all 0.2s ease-in;
}
.registration .skills-sect #accordion a {
	display: block;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid #f1eb21;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: left;
	background: #040707;
	color: #fff;
}
.registration .skills-sect #accordion .panel-heading .accordion-toggle::before {
	font-family: 'FontAwesome';
	content: '\f00d';
	float: right;
	color: white;
	font-weight: lighter;
	transform: rotate(0deg);
	transition: all 0.2s ease-in;
}
.registration .skills-sect .panel-group .panel-heading + .panel-collapse > .panel-body, .registration .skills-sect .panel-group .panel-heading + .panel-collapse > .list-group {
	border: 1px solid #ddd;
	background: #f6f6f6;
}
.registration .skills-sect .panel-group .panel-heading + .panel-collapse > .panel-body p .fa {
	margin-right: 5px;
}
.registration .skills-sect .panel-group .panel-heading + .panel-collapse > .panel-body p {
	padding-bottom: 15px;
	line-height: 20px;
}
.registration .skills-sect .panel-group .panel-heading + .panel-collapse > .panel-body h4 {
	padding-bottom: 10px;
	font-weight: 600;
}
.registration .skills-sect #accordion .panel-heading .accordion-toggle.collapsed::before {
	color: #f0ea24;
	transform: rotate(-135deg);
	transition: all 0.2s ease-in;
}
.registration .skills-sect h6 {
	color: #040707;
	font-size: 26px;
	font-weight: 600;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 50px;
	border-bottom: 1px solid #000;
}
.registration .skills-sect h6:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	left: 0;
	bottom: -2px;
	border-bottom: 3px solid #f00;
}
.registration .progress {
	width: 100%;
}
.registration .progress-bar-success {
	background-color: #e14325;
}
.registration .skills-sect h5 {
	color: #040707;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}
.registration .form {
	background: #fff;
}
.registration .tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.registration .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.registration .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	background: #e14325;
	color: #fff;
	font-size: 18px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
}
.registration .tab-group li a:hover {
	background: #040707;
	color: #ffffff;
}
.registration .tab-group .active a {
	background: #040707;
	color: #ffffff;
}
.registration .tab-content > div:last-child {
	display: none;
}
.registration .choose-sect {
	margin: 3rem auto;
	display: table;
	box-shadow: 3px 3px 3px 3px #e14325;
	padding: 2rem 2rem;
	width: 65%;
	transition: all .5s;
	color: #040707;
	border-radius: 10px;
}
.registration .choose-sect .job-sek {
	margin: 10px auto;
	display: table;
}
.registration .choose-sect .job-sek .fa {
	font-size: 80px;
}
.registration .choose-sect h3 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
.registration .choose-sect:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	color: #e14325;
}
.form-details {
	margin: 3rem 0 0 0;
}
.form-details .cmn-sect {
	background: #f6f6f6;
	padding: 15px 25px 30px 25px;
	margin-bottom: 2rem;
}
.form-details .cmn-sect ul.search {
}
.form-details .cmn-sect ul.search li a {
	font-size: 16px;
	color: #040707;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #b9b0b0;
	transition: all .5s;
	text-transform: capitalize;
}
.form-details .cmn-sect ul.search li a:hover {
	padding-left: 15px;
}
.form-details h5 {
	background: #040707;
	padding: 10px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
}
.form-details h5 .fa {
	margin-right: 8px;
}
.form-details ul.category-search {
}
.form-details ul.category-search li {
	float: left;
	margin: 0 4px;
}
.form-details ul.category-search li a {
	border-bottom: none;
	background: #e14325;
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	transition: all .5s;
}
.form-details ul.category-search li a:hover {
	padding-left: 10px;
	background: #040707;
}
.regi-form {
}
.regi-form h6 {
	border-bottom: 1px solid #b9b0b0;
	position: relative;
	color: #040707;
	font-size: 20px;
	padding: 0 0 10px 0;
	font-weight: 600;
	margin-bottom: 20px;
}
.regi-form h6:before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #e14325;
	bottom: -2px;
	width: 100px;
	left: 0;
	height: 3px;
}
.regi-form p {
	font-size: 16px;
	color: #040707;
	line-height: 24px;
}
.regi-form .form-reg-main {
	margin: 2rem 0 0 0;
}
.regi-form .form-reg-main .reg-label {
	color: #040707;
	display: block;
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
}
.regi-form .form-reg-main .reg-inpt {
	background: #f6f6f6;
	width: 100%;
	padding: 10px;
	border: 1px solid #b9b0b0;
	border-radius: 3px;
	margin: 0px 0 20px 0;
}
.regi-form .form-reg-main .reg-label sup {
	color: #e14325;
}
.regi-form .form-reg-main .select-reg {
}
.regi-form .form-reg-main .reg-textarea {
	resize: none;

}
.regi-form .file-upload {
	display: block;
	text-align: center;
	font-size: 16px;
}
.regi-form .file-upload .file-select {
	display: block;
	border: 2px solid #e14325;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.regi-form .file-upload .file-select .file-select-button {
	background: #e14325;
	padding: 0 10px;
	display: inline-block;
	/* height: 40px; */
	line-height: 40px;
	color: #fff;
}
.regi-form .file-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.regi-form .file-upload .file-select:hover {
	border-color: #34495e;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload .file-select:hover .file-select-button {
	background: #34495e;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload.active .file-select {
	border-color: #e14325;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload.active .file-select .file-select-button {
	background: #e14325;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload .file-select input[type=file] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.regi-form .file-upload .file-select.file-select-disabled {
	opacity: 0.65;
}
.regi-form .file-upload .file-select.file-select-disabled:hover {
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.regi-form .file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.regi-form .file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.regi-form .reg-btn {
	background: #040707;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin: 15px 0 0 0;
	width: 100%;
	font-weight: 600;
	letter-spacing: 2px;
}
.regi-form .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
.regi-form .form-group label {
	margin: 30px 0 0 0;
}
.regi-form .form-group label:before {
	content: '';
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #e14325;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 6px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
}
.regi-form .form-group input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	top: 36px;
	left: 22px;
	width: 4px;
	height: 10px;
	border: solid #e14325;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.regi-form .regi-form .form-group a {
	color: #e14325;
}
.instructions {
	text-align: center;
	font-size: 20px;
	margin: 15vh;
}
.backgroundOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .85;
	filter: alpha(opacity=85);
	-moz-opacity: .85;
	z-index: 101;
	display: none;
}
.delayedPopupWindow {
	display: none;
	position: fixed;
	width: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #efefef;
	border: 2px solid #333;
	z-index: 102;
	padding: 10px 20px;
	border-radius: 10px;
}
#btnClose {
	width: 100%;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #040707;
}
#btnClose:hover {
	color: #c90c12;
}
#delayedPopup > div.formDescription {
	float: left;
	display: block;
	width: 44%;
	padding: 1% 3%;
	font-size: 18px;
	color: #666;
	clear: left;
}
#delayedPopup > div.formDescription h2 {
	color: #444444;
	font-size: 36px;
	line-height: 40px;
}
#delayedPopup #mc-embedded-subscribe-form input {
	width: 100%;
	font-size: 14px;
	padding: 15px 10px;
	margin-bottom: 15px;
}
#delayedPopup #mc-embedded-subscribe-form input:hover {
	box-shadow: 0 1px 3px #aaa;
	border: none;
}
#delayedPopup #mc-embedded-subscribe-form input:focus {
	box-shadow: 0 1px 3px #aaa;
	border: none;
}
#delayedPopup #mc-embedded-subscribe {
	width: 100%!important;
	height: 40px!important;
	margin: 10px auto 0 auto;
	background: #5D9E62;
	border: none;
	color: #fff;
}
#delayedPopup #mc-embedded-subscribe:hover {
	background: #40c348;
	color: #fff;
	box-shadow: none!important;
	cursor: pointer;
}
.delayedPopupWindow form#send input, form#send textarea {
	position: relative;
	margin-bottom: 32px;
	width: 100%;
	height: 29px;
	font-family: 'RobotoLight', sans-serif;
	text-indent: 20px;
	background-color: transparent;
	outline: 0;
	border: none;
	border-bottom: 1px solid #070000;
	-webkit-transition: border 0.6s;
	-o-transition: border 0.6s;
	transition: border 0.6s;
}
.delayedPopupWindow form#send label {
	position: absolute;
	top: 0;
	line-height: 28px;
	-webkit-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.delayedPopupWindow form#send input:focus, .delayedPopupWindow form#send textarea:focus {
	border: none;
}
.delayedPopupWindow form#send input:focus + label, .delayedPopupWindow form#send textarea:focus + label {
	color: rgb(63, 173, 168);
	border: none;
}
.delayedPopupWindow h6 {
	display: table;
	font-size: 18px;
	text-align: center;
	margin: 10px auto;
	text-transform: uppercase;
	font-weight: 600;
}

/*contents end her*/
/*media section start*/

@media (max-width: 999px) {
.animationsect {
	position: inherit;
	transform: translate(-50%, -30%);
}
.animationsect .divslidetxt h1 {
	color: #040707;
	font-size: 42px;
	padding-top: 0rem;
	text-align: center;
}
.demo-gallery > ul > li {
    width: 46%;
}
.marque-one {
    width: 60%;
}
.divslidetxt .cmn-link {
	display: none;
}
.divslidetxt img {
	margin-top: 10rem;
}
.service-sect {
	margin: 0px 0 0 0;
}
.bigleap-intro img {
	width: 100%
}
.blog-sect .bolg-body ul li {
	margin-right: .9rem;
}
.footer-form {
	margin: 3rem 0 2rem 0;
}
.mob-height {
	min-height: 220px;
}
.about-page-details .img-abt {
	margin: 2rem 0;
}
.footer p.ft-bottom {
	padding-top: 0px;
}
}

@media (max-width: 767px) {
.footer {
	padding: 30px 0 60px 0;
}
.footer ul.mob-height {
	min-height: 215px;
}
.footer ul.social-links li a {
	width: 28px;
	height: 28px;
}
.footer ul.mob-heightchng {
	min-height: 120px;
}
.newsletter .map-sect .adds-localeft {
	float: left;
}
.newsletter .map-sect .map-addres .adds-loca h5 a {
	font-size: 15px;
}
.footer-form {
	margin-top: 3rem;
}
.newsletter .map-sect .map-addres {
	background: #fff;
	padding: 30px 30px 30px 30px;
}
.bigleap h3.main-title {
	font-size: 2.3rem;
	line-height: 40px;
}
.bigleap p.main-descr {
	padding: 0 1rem;
}
.newsletter p.main-descr {
	padding-bottom: 60px;
}
.about-page .common-titles {
	position: absolute;
	left: 0;
	top: 50%;
	transform: none;
	right: 0;
	z-index: 100;
}
.about-page-details h3 {
	font-size: 30px;
}
.about-page-details .marg-top {
	margin-top: 2rem;
}
.our-team .team-grid {
	margin-bottom: 40px;
}
.our-team .team {
	padding: 5em 0 1rem 0;
}
.animationsect {
	position: inherit;
	transform: translate(-50%, -45%);
}
.animationsect .divslidetxt h1 {
	color: #040707;
	font-size: 32px;
	line-height: 36px;
	padding-top: 2rem;
	text-align: center;
}
.service-sect {
	margin: -135px 0 0 0;
}
.divslidetxt .cmn-link {
	display: none;
}
.divslidetxt img {
	margin-top: 7rem;
}
.service-sect .box-sect {
	margin-bottom: 0;
}
.about-sect .half-box {
	padding: 40px 30px;
}
.footer .footer-logo {
	margin: 0 auto;
}
.slidersection img {
	height: 270px;
}
.service-sect .servc-cnt h5 {
	text-align: center;
	padding-top: 10px;
}
.service-sect .servc-cnt h6 {
	text-align: center;
}
.service-sect .download-area .download-main p {
	text-align: center;
}
.service-sect .tab-contents .tab-imgs .serv-txt {
	bottom: 20px;
}
.service-sect .tab-contents .tab-imgs .serv-txt p.sudser {
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	padding: 0 2rem;
}
.service-sect .tab-contents .tab-imgs .serv-txt p.sudser {
	font-size: 12px;
	line-height: 16px;
	padding: 0 2rem;
}
.service-sect .download-area .cmn-link {
	text-align: center;
	margin: 20px auto;
	display: table;
}
.registration .choose-sect {
	width: 90%;
}
.registration .skills-sect h6 {
	margin-bottom: 30px;
	margin-top: 40px;
}
.marque-one {
    width: 60%;
}
.demo-gallery > ul > li {
    margin: 0 10px 30px 0px;
    width: 100%;
}
#cssmenu>ul>li.looking-li a {
    background: #e14325;
}
	.cmn-link {
    font-size: 16px;
	}
}

/*media section end*/
