.collapsible li {
	margin-bottom: 25px;
}
.collapsible li .collapsible-header {
	justify-content: space-between;
}
.collapsible li .collapsible-header .caret {
	border: none;
	color: #b1b1b1;
	margin-right: 0;
	transition: -webkit-transform 0.2s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 0.6em 0.5em;
	transform-origin: 0.6em 0.5em;
}
.collapsible li.active .collapsible-header {
	background: #f5f5f5 url(../images/quest-icn-hvr.png) no-repeat 1% 50%;
	color: #4a4a4a;
}
.collapsible li.active .collapsible-header .caret {
	border: none;
	color: #cd001b;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0.6em 0.5em;
	transform-origin: 0.6em 0.5em;
}
.material-icons {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga'
}
.scale-transition {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63), -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important
}
.scale-transition.scale-out {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .2s !important;
	transition: -webkit-transform .2s !important;
	transition: transform .2s !important;
	transition: transform .2s, -webkit-transform .2s !important
}
.scale-transition.scale-in {
	-webkit-transform: scale(1);
	transform: scale(1)
}
.card-panel {
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	padding: 24px;
 margin:.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff
}
.collapsible {
 margin:.5rem 0 1rem 0
}
.collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem 1rem 1rem 4rem;
	background: #f5f5f5;
	color: #4a4a4a;
	font-size: 16px;
	background: #f5f5f5 url(../images/quest-icn.png) no-repeat 1% 50%;
}
.collapsible-header:focus {
	outline: 0
}
.collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem
}
.keyboard-focused .collapsible-header:focus {
	background-color: #eee
}
.collapsible-body {
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 padding: 2rem 1rem 2rem .7rem;
	background: #fafafa;
	margin-top: 4px;
	color: #4a4a4a;
	font-size: 16px;
	line-height: 24px;
}
.collapsible-body span.collspan {
	float: left;
	margin-right: 15px;
}
@media (max-width: 767px) { 
.collapsible li.active .collapsible-header {
    background: #f5f5f5 url(../images/quest-icn-hvr.png) no-repeat 5% 50%;
}
.collapsible-header {
    font-size: 14px;
    background: #f5f5f5 url(../images/quest-icn.png) no-repeat 5% 50%;
}
.collapsible-body {
    font-size: 13px;
}
}
