#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type=button], input[type=submit], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked+label:before {
	background-color: #de1f26
}
a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
	color: #26ae61
}
.icon-box.rounded i {
	border-color: #26ae61
}
.dashboard-nav ul li.active-submenu a i, .dashboard-nav ul li.active a i, .dashboard-nav ul li:hover a i, .dashboard-nav ul li.active-submenu a, .dashboard-nav ul li:hover a, .dashboard-nav ul li.active a, .dashboard-list-box .comment-by-listing a:hover {
	color: #26ae61
}
.dashboard-nav ul li.active-submenu, .dashboard-nav ul li.active, .dashboard-nav ul li:hover {
	border-color: #26ae61;
	background-color: rgba(38,174,97,.05)
}
.dashboard-nav ul li.active-submenu a:after, .dashboard-nav ul li.active a:after, .dashboard-nav ul li:hover a:after {
	color: #26ae61;
	background-color: rgba(38,174,97,.15)
}
.message-bubble.me .message-text {
	color: #26ae61;
	background: rgba(38,174,97,.1)
}
.message-bubble.me .message-text:before {
	color: rgba(38,174,97,.1)
}
.dashboard-nav ul li span.nav-tag, .dashboard-list-box .button.gray:hover, .change-photo-btn:hover, .dashboard-list-box a.rate-review:hover {
	background-color: #26ae61
}
.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
	-webkit-box-shadow: 0 1px 0 0 rgba(38,174,97,.7);
	-moz-box-shadow: 0 1px 0 0 rgba(38,174,97,.7);
	box-shadow: 0 1px 0 0 rgba(38,174,97,.7)
}
#popular-categories li a:before {
	-webkit-box-shadow: 0 0 0 1px rgba(38,174,97,.7);
	-moz-box-shadow: 0 0 0 1px rgba(38,174,97,.7);
	box-shadow: 0 0 0 1px rgba(38,174,97,.7)
}
table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
	border-color: rgba(38,174,97,.7)
}
table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
	background-color: rgba(38,174,97,.05)
}
.resumes-list li:hover, .job-list li:hover {
	border-color: #26ae61!important
}
.resumes-list li.highlighted a:after, .resumes-list li a:after, .job-list li.highlighted a:after, .job-list li a:after {
	background-color: #26ae61
}
.resumes-list.alternative li:before, .category-small-box:hover {
	background-color: #de1f26
}
.category-small-box i {
	color: #de1f26
}
